{% extends 'base/index.html' %}
{% block content %}
<div>
    <ul class="nav justify-content-center text-center">
        <li class="nav-item article-item">
            <a class="nav-link" href="/reporteingreso">
                Reporte Ingresos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reportesalida"> Reporte Salidas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reportepedido"> Reporte Pedidos</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-12 pt-3 text-center">
        <form method="POST" action="/reportesalida">
            {% csrf_token %}
            <div class="textreporte">
                <h5>Filtrado del registro de las salidas de lo articulos por mes:</h5>
            </div>
            <hr>
            <div class="row monthcontainer">
                <div class="col-2">
                    <h6>Elegir Mes:</h6>
                </div>
                <div class="col-4">
                    <input class="form-control" type="month" name="txtfsalida">
                </div>
                <div class="col-4">
                    <button type="submit" class="btnsearch btn-success form-control">Buscar</button>
                </div>
            </div>
        </form>
        <hr><br>
        <h5>Lista de registro de salidas de articulos</h5>
        <hr><br>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Articulo</th>
                    <th scope="col">Nombre Articulo</th>
                    <th scope="col">Modelo Articulo</th>
                    <th scope="col">Cantidad Solicitada</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for r in reporte %}
                    <th scope="row">{{r.codigo}}</th>
                    <th scope="row">{{r.nombre}}</th>
                    <th scope="row">{{r.codigo_Modelo__nombre}}</th>
                    {% if r.value == None %}
                    <td scope="row">0</td>
                    {% else %}
                    <td scope="row">{{r.value}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table><br>
        <hr>
        <div class="reporte-content textreporte">
            <h5>Opciones para generar reporte</h5><br>
            <div class="row text-center">
                <div class="gr col-4">
                    <h6>Generar un reporte del total <br>de registros de salida</h6>
                    <a href="{% url 'generar_reporte_completo_salida' %}" class="btn btnreporte btn-primary">Generar
                        Informe total</a>

                </div>
                <div class="gr col-4">
                    <h6>Generar un reporte de registro de slaida <br>filtrados por mes</h6>
                    <a href="{% url 'generar_reporte_salida' %}?txtfsalida={{ request.POST.txtfsalida }}"
                        class="btn btnreporte btn-primary">Generar Informe</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}