{% extends 'base/index.html' %}
{% block content %}
<div class="row pt-3">
    <div class="col"></div>
    <div class="col">
        <h5 class="text-center">Editar Pedido de Producto</h5>
        <hr>
        <form action="/pedido/registrarpedido" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <div>
                        <label><em>Codigo:</em></label>
                        <input type="text" value="{{pedido.codigo}}" readonly name="txtCodigo" class="form-control">
                    </div><br>
                    <div>
                        <select class="form-select" aria-label="Default select example" name="txtArticulo">
                            <option selected value="{{pedido.codigo_Articulo.codigo}}">{{pedido.codigo_Articulo.nombre}}</option>
                            {% for a in articulos %}
                            <option value="{{a.codigo}}">{{a.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div><br>
                    <div>
                        <label><em>Cantidad de pedido:</em></label>
                        <input value="{{pedido.cant_Solicitada}}" type="number" name="txtCantidad" class="form-control">
                    </div><br>
                    <div>
                        <label><em>Fecha Pedido</p></em></label>
                        <input value="{{pedido.fecha_Solicitud}}" type="text" name="txtFecha" class="form-control">
                    </div><br>
                    <div>
                        <select class="form-select" aria-label="Default select example" name="txtUsuario">
                            <option selected value="{{pedido.codigo_Usuario.nombre}}">{{pedido.codigo_Usuario.nombre}}</option>
                            {% for u in usuarios %}
                            <option value="{{u.codigo}}">{{u.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div><br>
                </div>
            </div>
            <hr>
            <div class="text-center d-grid gap-2 d-md-block">
                <button class="btn btn-success" type="submit">Registrar</button>
                <button class="btn btn-danger" type="reset">Cancelar</button>
            </div>
            <hr>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}