
body{
    background-color: #e7e7e7;
}
.nav-principal{
    background-color: #f0f0f0;
}
.nav-principal:hover{
    background-color: #ffffff;
}
.content-box{
    margin-top: 30px;

}
.reporte-pdf a{
    text-decoration: none;
    color: white;
}
.reporte-pdf a:hover{
    text-decoration: underline;
    color: rgb(205, 219, 255);
}
.reporte-pdf{
    color: white;
    font-weight: bolder;
    font-size: 0.8rem;
}
h4{
    color:rgb(125, 122, 122);
}
h6{
  color: rgb(0, 0, 0);
}

p{
    font-size: 0.65rem;
}
.editar{
    text-decoration: none;
    color: #373a8f;
}
.eliminar{
    text-decoration: none;
    color: rgb(185, 0, 0);
}
.pedir{
    text-decoration: none;
    color: rgb(6, 132, 21);
}
.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnsave {
    background-color: #1465bb;
    border: none;
}
.btnsave:hover{
    background-color: #003785;
    color: rgb(255, 255, 255);
    border: none;
}
.btndelete{
    border: none;
}
.list-nav:hover{
    background-color: #003785;
    border-radius: 5px;
    font-weight: bold;
}
.nav-item{
    margin: 10px;
    margin-left: 15px;
    margin-right: 15px;
    width: 200px;
}
.nav-item:hover{
    background-color: #81c9fa;
    border-radius: 5px;
}
.nav-item .nav-link{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.nav-item .nav-link:hover{
    color: white;
    font-weight: bolder;
}
.pro-tittle{
    color: white;
    font-weight: bolder;
    text-decoration: underline;
}
.nav{
    background-color: rgb(246, 246, 246);
}
.nav:hover{
    background-color: white;
}

.img-home{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: solid;
    border-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
}
.textreporte{
    text-align: left;
    font-size: 0.9rem;
}
.btnsearch{
    width: 100px;
    background-color: #003785;
    color: white;
    border: none;
}
.btnsearch:hover{
    background-color: #032a62;
    color: white;
}
.monthcontainer{
    margin-left: 20%;
}
.btnreporte{
    width: 200px;
    background-color: #003785;
    color: white;
    border: none;
}
.reporte-content .row .gr{
    margin: 5px;
    width: 40%;
    height: 100px;
    margin-left: 50px;

}
td .validatestock{
    color: green;
}