{% extends 'base/index.html' %}
{% block content %}
<div class="row pt-3">
    <div class="col-4">
        <figure class="figure">
            <img src="https://img.pikbest.com/png-images/qiantu/mbe-style-daily-necessities-electronic-products-cartoon-cute-set-of-pictures_2577475.png!w700wp"
                class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-end">Productos de TI.</figcaption>
        </figure>
    </div>
    <div class="col-8 pt-3 text-center">
        <h5>Registro Producto</h5>
        <hr>
        <div class="col-8 card">
            <form action="">
                    <table class="table table-success table-striped-columns">
                        <tr>
                            <td>Nombre</td>
                            <td><input type="text" name="" class="form-control" ></td>
                        </tr>
                    </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}