{% extends 'base/index.html' %}
{% block content %}
<div class="row pt-3">
    <div class="col-4">
        <figure class="figure">
            <img src="https://png.pngtree.com/element_our/20200702/ourlarge/pngtree-electronic-technology-products-related-icons-image_2291573.jpg"
                class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-end">Categorias de TI.</figcaption>
        </figure>
    </div>
    <div class="col-8 pt-3">
        <h5 class=" text-center">Registro Categoria</h5>
        <hr>
        <form action="">
            <div class="row">
                <div class="col">
                    <div>
                        <label><em>Nombre:</em></label>
                        <input type="text" name="txtNombre" class="form-control">
                    </div><br>
                </div>
                <div class="col">
                    <div>
                        <label><em>Descripcion:</em></label>
                        <input type="text" name="txtDescripcion" class="form-control">
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-success" type="submit">Registrar</button>
                <button class="btn btn-danger" type="reset">Cancelar</button>
            </div>
            <hr>
        </form>
    </div>
</div>
{% endblock %}