<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
<div class="container text-center">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <div class="col-sm-6 col-lg-8 col-xl-12 text-black">
                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-10 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                    <form style="width: 23rem;" action="/" method="post">
                        {% csrf_token %}
                        <h3 class="fw-normal mb-3 pb-3 blockquote" style="letter-spacing: 1px;">Iniciar Sesion</h3>
                        <hr>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example18">Usuario</label>
                            <input type="text" id="form2Example18" class="form-control form-control-lg"
                                name="txtUsuario"/>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example28">Contraseña</label>
                            <input type="password" id="form2Example28" class="form-control form-control-lg"
                                name="txtContraseña"/>
                        </div>
                        <div class="pt-1 mb-4">
                            <button class="btn btn-primary" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                    <path fill-rule="evenodd"
                                        d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                </svg> Login</button>
                        </div>
                        <p>¿No tienes una cuenta? <a href="/RegistroUsuario" class="link-info">Registrarse</a></p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>