{% extends 'base/index.html' %}
{% block content %}
<div class="row pt-3">
    <div class="col-4">
        <figure class="figure">
            <img src="https://static.vecteezy.com/system/resources/previews/002/903/037/non_2x/computer-brand-logos-international-technology-editorial-icons-collection-free-vector.jpg"
                class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption text-end">Modelos de TI.</figcaption>
        </figure>
    </div>
    <div class="col-8 pt-3">
        <h5 class=" text-center">Editar Modelo {{modelo.nombre}}</h5>
        <hr>
        <form action="/modelo/updatemodelo/{{modelo.codigo}}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div>
                        <label><em>Codigo:</em></label>
                        <input type="text" readonly value="{{modelo.codigo}}" name="txtCodigo" class="form-control">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label><em>Nombre:</em></label>
                        <input type="text" value="{{modelo.nombre}}" name="txtNombre" class="form-control">
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <hr>
            <div class="text-center d-grid gap-2 d-md-block">
                <button class="btnsave btn btn-success" type="submit">Editar</button>
                <button class="btndelete btn btn-danger" type="reset">Cancelar</button>
            </div>
            <hr>
        </form>
    </div>
</div>
{% endblock %}