{% extends 'base/index.html' %}
{% block content %}
<div class="row pt-3">
    <div class="col"></div>
    <div class="col">
        <h5 class="text-center">Editar Ingreso de Articulo</h5>
        <hr>
        <form action="/ingreso/updateingreso/{{ingreso.codigo}}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <div>
                        <label><em>Codigo:</em></label>
                        <input type="text" readonly value="{{ingreso.codigo}}" name="txtCodigo" class="form-control">
                    </div><br>
                    <div>
                        <select class="form-select" aria-label="Default select example" name="txtArticulo">
                            <option selected value="{{ingreso.codigo_Articulo.codigo}}">{{ingreso.codigo_Articulo.nombre}}</option>
                            {% for a in articulos %}
                            <option value="{{a.codigo}}">{{a.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div><br>
                    <div>
                        <label><em>Cantidad de Ingreso:</em></label>
                        <input type="number" value="{{ingreso.cant_Art_Ingresados}}" name="txtCantidad" class="form-control">
                    </div><br>
                    <div>
                        <label><em>Fecha Ingresado:</em></label>
                        <input value="{{ingreso.fecha_Ingreso}}" type="text" name="txtFecha" class="form-control">
                    </div><br>
                    <div>
                        <label><em>Hora Ingresado:</em></label>
                        <input value="{{ingreso.hora_Ingreso}}" type="text" name="txtHora" class="form-control">
                    </div><br>
                    <div>
                        <select class="form-select" aria-label="Default select example" name="txtUsuario">
                            <option selected value="{{ingreso.codigo_Usuario.codigo}}">{{ingreso.codigo_Usuario.nombre}} {{ingreso.codigo_Usuario.apellido}}</option>
                            {% for u in usuarios %}
                            <option value="{{u.codigo}}">{{u.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div><br>
                </div>
            </div>
            <hr>
            <div class="text-center d-grid gap-2 d-md-block">
                <button class="btnsave btn btn-success" type="submit">Editar</button>
                <button class="btndelete btn btn-danger" type="reset">Cancelar</button>
            </div>
            <hr>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}